@import url(../utils/_dFlex.scss);

.header {
  border-bottom: 1px solid var(--border-color);
  padding-top: 24px;
  padding-bottom: 25px;

  &-container {
    @extend %d-flex;
  }

  &-navigations {
    @extend %d-flex;
  }

  &-menu {
    @extend %d-flex;
    gap: 50px;
  }
}
